ul.products

  each val, index in product_list
    li.product__item
      a.product__link(href="javascript:void(0)", title="product" + index)
        picture
          source(srcset=val['image_small'], media="(max-width: 43.75em)")
          source(srcset=val['image_medium'], media="(max-width: 56.25em)")
          source(srcset=val['image'], media="(min-width: 56.25em)")
          img(srcset=val['image'])

      h4= val['title']
      p.product_category= val['category']
      p.product_price= val['price']
